:root {
    --style-1: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    --style-1-font-family: "Inter", Helvetica;
    --style-1-font-size: 13.699999809265137px;
    --style-1-font-style: normal;
    --style-1-font-weight: 400;
    --style-1-letter-spacing: 0px;
    --style-1-line-height: 24px;
    --style-10: rgba(185, 181, 101, 0.75);
    --style-10-font-family: "Inter", Helvetica;
    --style-10-font-size: 17.600000381469727px;
    --style-10-font-style: normal;
    --style-10-font-weight: 400;
    --style-10-letter-spacing: 0.5400000214576721px;
    --style-10-line-height: 21.600000381469727px;
    --style-11: rgba(255, 255, 255, 0);
    --style-11-font-family: "Inter", Helvetica;
    --style-11-font-size: 31.899999618530273px;
    --style-11-font-style: normal;
    --style-11-font-weight: 700;
    --style-11-letter-spacing: 0px;
    --style-11-line-height: 45.599998474121094px;
    --style-12: rgba(40, 38, 38, 0.27);
    --style-12-font-family: "Inter", Helvetica;
    --style-12-font-size: 16.200000762939453px;
    --style-12-font-style: normal;
    --style-12-font-weight: 400;
    --style-12-letter-spacing: 0px;
    --style-12-line-height: 28.5px;
    --style-13: rgba(0, 0, 0, 1);
    --style-13-font-family: "Inter", Helvetica;
    --style-13-font-size: 38.79999923706055px;
    --style-13-font-style: normal;
    --style-13-font-weight: 700;
    --style-13-letter-spacing: 0px;
    --style-13-line-height: 67.5px;
    --style-14: rgba(89, 86, 176, 1);
    --style-14-font-family: "Inter", Helvetica;
    --style-14-font-size: 12.800000190734863px;
    --style-14-font-style: normal;
    --style-14-font-weight: 700;
    --style-14-letter-spacing: 0px;
    --style-14-line-height: 16.799999237060547px;
    --style-15: rgba(153, 53, 0, 1);
    --style-15-font-family: "Inter", Helvetica;
    --style-15-font-size: 12.800000190734863px;
    --style-15-font-style: normal;
    --style-15-font-weight: 700;
    --style-15-letter-spacing: 2.25px;
    --style-15-line-height: 18px;
    --style-16: rgba(157, 98, 0, 1);
    --style-16-font-family: "Inter", Helvetica;
    --style-16-font-size: 12.800000190734863px;
    --style-16-font-style: normal;
    --style-16-font-weight: 700;
    --style-16-letter-spacing: 2.25px;
    --style-16-line-height: 21px;
    --style-17: rgba(63, 118, 82, 1);
    --style-17-font-family: "Inter", Helvetica;
    --style-17-font-size: 14.600000381469727px;
    --style-17-font-style: normal;
    --style-17-font-weight: 700;
    --style-17-letter-spacing: 6px;
    --style-17-line-height: 56px;
    --style-18: rgba(49, 46, 163, 1);
    --style-18-font-family: "Inter", Helvetica;
    --style-18-font-size: 58.20000076293945px;
    --style-18-font-style: normal;
    --style-18-font-weight: 700;
    --style-18-letter-spacing: 0px;
    --style-18-line-height: 72px;
    --style-19: rgba(23, 21, 87, 1);
    --style-19-font-family: "Inter", Helvetica;
    --style-19-font-size: 12.199999809265137px;
    --style-19-font-style: normal;
    --style-19-font-weight: 400;
    --style-19-letter-spacing: 0px;
    --style-19-line-height: 37px;
    --style-2: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
    --style-2-font-family: "Inter", Helvetica;
    --style-2-font-size: 13.699999809265137px;
    --style-2-font-style: normal;
    --style-2-font-weight: 400;
    --style-2-letter-spacing: 0px;
    --style-2-line-height: 16.799999237060547px;
    --style-20-font-family: "Inter", Helvetica;
    --style-20-font-size: 16.700000762939453px;
    --style-20-font-style: normal;
    --style-20-font-weight: 400;
    --style-20-letter-spacing: 0px;
    --style-20-line-height: 21.600000381469727px;
    --style-21: rgba(0, 0, 0, 0.35);
    --style-21-font-family: "Inter", Helvetica;
    --style-21-font-size: 29.399999618530273px;
    --style-21-font-style: normal;
    --style-21-font-weight: 700;
    --style-21-letter-spacing: 0px;
    --style-21-line-height: 36px;
    --style-22: rgba(67, 159, 240, 1);
    --style-22-font-family: "Inter", Helvetica;
    --style-22-font-size: 14.899999618530273px;
    --style-22-font-style: normal;
    --style-22-font-weight: 400;
    --style-22-letter-spacing: 0px;
    --style-22-line-height: 28.799999237060547px;
    --style-23: rgba(247, 242, 134, 1);
    --style-23-font-family: "Inter", Helvetica;
    --style-23-font-size: 14.899999618530273px;
    --style-23-font-style: normal;
    --style-23-font-weight: 400;
    --style-23-letter-spacing: 0px;
    --style-23-line-height: 19.200000762939453px;
    --style-24: rgba(247, 242, 134, 0);
    --style-24-font-family: "Inter", Helvetica;
    --style-24-font-size: 12.899999618530273px;
    --style-24-font-style: normal;
    --style-24-font-weight: 400;
    --style-24-letter-spacing: 0px;
    --style-24-line-height: 14px;
    --style-25: rgba(110, 110, 110, 1);
    --style-25-font-family: "Inter", Helvetica;
    --style-25-font-size: 12.899999618530273px;
    --style-25-font-style: normal;
    --style-25-font-weight: 400;
    --style-25-letter-spacing: 0px;
    --style-25-line-height: 19.600000381469727px;
    --style-26-font-family: "Inter", Helvetica;
    --style-26-font-size: 9.100000381469727px;
    --style-26-font-style: normal;
    --style-26-font-weight: 400;
    --style-26-letter-spacing: 0px;
    --style-26-line-height: 21.600000381469727px;
    --style-27-font-family: "Inter", Helvetica;
    --style-27-font-size: 21.5px;
    --style-27-font-style: normal;
    --style-27-font-weight: 700;
    --style-27-letter-spacing: 0px;
    --style-27-line-height: 30.799999237060547px;
    --style-28-font-family: "Inter", Helvetica;
    --style-28-font-size: 58.5px;
    --style-28-font-style: normal;
    --style-28-font-weight: 700;
    --style-28-letter-spacing: 0px;
    --style-28-line-height: 72px;
    --style-29-font-family: "Inter", Helvetica;
    --style-29-font-size: 16.700000762939453px;
    --style-29-font-style: normal;
    --style-29-font-weight: 400;
    --style-29-letter-spacing: 0px;
    --style-29-line-height: 18px;
    --style-3: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    --style-3-font-family: "Inter", Helvetica;
    --style-3-font-size: 17px;
    --style-3-font-style: normal;
    --style-3-font-weight: 400;
    --style-3-letter-spacing: 0px;
    --style-3-line-height: 34px;
    --style-30-font-family: "Inter", Helvetica;
    --style-30-font-size: 21.700000762939453px;
    --style-30-font-style: normal;
    --style-30-font-weight: 400;
    --style-30-letter-spacing: 0px;
    --style-30-line-height: 35.20000076293945px;
    --style-31-font-family: "Inter", Helvetica;
    --style-31-font-size: 21.5px;
    --style-31-font-style: normal;
    --style-31-font-weight: 700;
    --style-31-letter-spacing: 0px;
    --style-31-line-height: 35.20000076293945px;
    --style-32-font-family: "Inter", Helvetica;
    --style-32-font-size: 20.799999237060547px;
    --style-32-font-style: normal;
    --style-32-font-weight: 700;
    --style-32-letter-spacing: 0px;
    --style-32-line-height: 35.20000076293945px;
    --style-33-font-family: "Inter", Helvetica;
    --style-33-font-size: 13.5px;
    --style-33-font-style: normal;
    --style-33-font-weight: 400;
    --style-33-letter-spacing: 0px;
    --style-33-line-height: 16.799999237060547px;
    --style-34-font-family: "Inter", Helvetica;
    --style-34-font-size: 13.5px;
    --style-34-font-style: normal;
    --style-34-font-weight: 400;
    --style-34-letter-spacing: 0px;
    --style-34-line-height: 16.799999237060547px;
    --style-4: 0px 0px 3px 0px rgba(182, 180, 180, 0.5);
    --style-4-font-family: "Inter", Helvetica;
    --style-4-font-size: 18px;
    --style-4-font-style: normal;
    --style-4-font-weight: 700;
    --style-4-letter-spacing: 0px;
    --style-4-line-height: 54px;
    --style-5: 0px 3px 0px 0px rgba(33, 33, 33, 1);
    --style-5-font-family: "Inter", Helvetica;
    --style-5-font-size: 65.9000015258789px;
    --style-5-font-style: normal;
    --style-5-font-weight: 700;
    --style-5-letter-spacing: 12px;
    --style-5-line-height: 54px;
    --style-6: rgba(191, 191, 191, 1);
    --style-6-font-family: "Inter", Helvetica;
    --style-6-font-size: 18.399999618530273px;
    --style-6-font-style: normal;
    --style-6-font-weight: 700;
    --style-6-letter-spacing: 3px;
    --style-6-line-height: 54px;
    --style-7: rgba(232, 230, 230, 1);
    --style-7-font-family: "Playfair Display", Helvetica;
    --style-7-font-size: 17px;
    --style-7-font-style: normal;
    --style-7-font-weight: 400;
    --style-7-letter-spacing: 2.549999952316284px;
    --style-7-line-height: 20.399999618530273px;
    --style-8: rgba(33, 33, 33, 1);
    --style-8-font-family: "Noto Serif", Helvetica;
    --style-8-font-size: 42.5px;
    --style-8-font-style: normal;
    --style-8-font-weight: 400;
    --style-8-letter-spacing: 0px;
    --style-8-line-height: 52.79999923706055px;
    --style-9: rgba(185, 181, 101, 1);
    --style-9-font-family: "Inter", Helvetica;
    --style-9-font-size: 18.299999237060547px;
    --style-9-font-style: normal;
    --style-9-font-weight: 400;
    --style-9-letter-spacing: 0.5400000214576721px;
    --style-9-line-height: 21.600000381469727px;
}
