/* HomePageContent.css */

.homepage-content {
  font-family: 'Arial', sans-serif;
  padding: 2rem;
  background-color: #f9f9f9;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-image {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.about-me-text h1 {
  color: #299FDD;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-me-text p {
  font-size: 1rem;
  color: #333;
  font-family: system-ui;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  text-align:justify;
}