@tailwind base;
@tailwind components;
@tailwind utilities;

/* HomePageContent.css */
.homepage-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.homepage-content {
  background: rgb(80, 80, 80); /* Dark semi-transparent background */
  color: #fff; /* White text color for readability */
  padding: 20px; /* Add padding */
}

.about-me {
  color: #000000; /* Ensure the header is also white */
  max-width: 1200px; /* Or any max width or width you prefer */
  margin: 0 auto; /* This will center content */
  padding: 40px 20px; /* Add some padding */
  text-align: center; /* Center align all the text in the .about-me section */
}

.about-me-content {
  display:flex;
  align-items: flex-start;
}

.profile-image {
  max-width: 1000px; /*Adjust as needed*/
  height: auto;
  border: 4px solid white;
  margin-right: 20px;
  box-shadow: 0px 4px 10px rgbba(0, 0, 0, 0.1);
}

.about-me-text {
  max-width: 1000px;
}
.about-me h1 {
  font-family:Arial, Helvetica, sans-serif;
  color: #ffffff; /* Ensure the header is also white */
  text-align: center; /* Center the header text specifically if needed */
  font-size: 2.5em;
}

h1 {
  margin-top: 0;
  font-size: 30em;
  color: #333;
  font-family: system-ui;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #ffffff;
}