.search-homes{
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: Center vertically as well */
  width: 100%; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
}


.search-homes input {
  flex: 1; /* Allow input to grow and fill available space */
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  border-radius: 8px;
}

.search-homes .search-icon {
  margin-left: 10px; /* Adds margin to the left of the icon */
  color: #999; /* Sets the icon color */
  font-size: 18px; /* Sets the icon size */
}
